
.headlogo {
    height: 80px;
    margin-right: 20px;
    margin-left: 20px;
}
.header-navbar {
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 100;
    border-radius: 15px;
    box-shadow: 8px 8px 8px 8px rgba(10, 0, 0, 0.05), 6px 6px 6px 6px rgba(255, 206, 69, 20);
    background-color: lightsteelblue;
    margin-bottom: 30px;
}
.product {
     margin-right: 40px;
    color: black;
 }
.header-navbar-toggler{
    margin-right: 20px;

}




